* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Layout fix */
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    /* Normal weight */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    margin: 15px 90px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;


}

.navbar__logo img {
    height: 60px;
    width: 188px;
}

.navbar__topics {
    display: flex;
    gap: 35px;
    font-size: 16px;
    padding: 16px;
}

.navbar__sign {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar__inr {
    display: flex;

}

.navbar__signin button {
    padding: 10px;
    background-color: #143C24;
    color: white;
    font-size: 16px;
    border-radius: 20px;
}

.heading {
    text-align: center;
    margin-top: 30px;
    color: #002B11;
    font-size: 30px;
    margin-left: 4%;
}

/* section two */
.navigation,
.nav-item {
    display: flex;
    color: black;
    text-decoration: none;
}

.navigation {
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
    font-size: 18px;
}

.nav-item {
    gap: 7px;
}

/* section four */
.search-bar {
    background-color: #F7F7F7;
    margin-top: 20px;
    border: solid grey 0px;
    padding: 5px 10px;
    border-radius: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    box-shadow: 1px 1px 1px 1px grey;
}

.search-bar input {
    background-color: #F7F7F7;
    width: 80%;
    padding: 0px 15px;
    border-style: none;
    font-size: 16px;
}

.search-bar button {
    padding: 14px 20px;
    border-radius: 50px;
    background-color: #00EB5B;
    font-size: 15px;
    border: solid black 1px;
}

.search-bar input:focus {
    outline: none;
}

/* section five */
.section-s5 {
    background-color: #00EB5B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 20px 20px;
    margin: 10px 60px;
    border-radius: 10px;
    margin-top: 50px;


}

.section-s5 .images img {
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

.section-s5 .images {
    display: flex;
    gap: 15px;
    color: black;
}



.section-s5__content h1 {

    font-size: 65px;
    width: 90%;
    line-height: 0.9;
    word-spacing: 0.4px;
}

.section-s5__content p {
    font-size: 20px;
    margin-top: 40px;
}

.section-s5__content button {
    padding: 10px;
    margin-top: 40px;
    background-color: #002B11;
    color: #F7F7F7;
    border-radius: 30px;
    font-weight: 900;
    font-size: 15px;

}

/* Section six */
.s7-container {
    margin-top: 30px;


}

.s7_heading {
    margin-left: 25px;
}

.s7_heading p {
    margin-top: 10px;
}

.s7-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: wrap;

}

.s7-images img {
    width: 300px;
    border-radius: 10px;
}

/* footer */
.footer {
    margin-top: 50px;
    background-color: #F7F7F7;
    padding: 20px;
}

.footer__s1 {
    display: flex;
    gap: 60px;
}

.footer__one {
    color: hsl(144, 100%, 8%);

}

.footer__one p {
    margin: 7px;
}

.footer__one h4 {
    margin-bottom: 10px;
    font-weight: 400;
}

.footer__s2 {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;

}

.footer__s2__logo img {
    width: 30px;
}

.footer__s2__content {
    flex-wrap: wrap;
}

.footer__s2__content p,
a {
    padding: 9px;

}

.footer__s2__content a {
    color: #143C24;
}

.footer__option {

    gap: 5px;
}

.footer__option .select {
    display: flex;
    gap: 10px;
}

.select select {
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    color: #002B11;
    border: solid #013c19 2px;
}

.social__media i {
    padding: 10px;


}